
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/styles/new_post.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <head>
        <title>Create Note</title>
        <nav>
            <div class="wholeNav">
                <ul>
                    <li>
                    <a href="/"><img src="http://www.anasfim.com/p/2018/03/cartoon-notebook-paper-notebook-clipart-lined-paper-pencil-and-in-for-notebook-paper-template-600x600.jpg" height="20"></a>
                    </li>
                    <li><a href="/login?username=amy&password=amyspassword">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Favorites</a></li>
                    <li><a href="#">Account Settings</a></li>
                    <li><a href="/content">Create Note</a></li>
                    <li>
                    <a href="#"><img src="https://www.iconsdb.com/icons/preview/white/search-3-xxl.png" height="20"></a>
                    </li>
                    
                </ul>
            </div>
      </nav>
    </head>
    <body>
        <main>

            <form class='new-note-container' method="POST" action="/notes/create"> 
                <h2> Create new note</h2>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Title</label>
                    <input type="text" name="title" class="form-control" id="note-title" placeholder="Title for new note">
                </div>

                <!-- <div class="form-group">
                    <label for="exampleFormControlSelect1">Category</label>
                    <select class="form-control" id="category-type" placeholder="Select a category">
                    <option>Movies</option>
                    <option>Cars</option>
                    <option>Music</option>
                    <option>Coding</option>
                    <option>New Category</option>
                    </select>
                </div> -->

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Category</label>
                    </div>
                    <select class="custom-select" id="category-type">
                        <option selected>Choose...</option>
                        <option value="1">Movies</option>
                        <option value="2">Cars</option>
                        <option value="3">Music</option>
                        <option value="4">Coding</option>
                        <option value="5">New category</option>
                    </select>
                </div>

                <div class="form-group">
                        <label for="exampleFormControlInput1">Image URL</label>
                        <input type="text" name="img_url" class="form-control" id="note-image" placeholder="Enter image link">
                </div>

                <div class="form-group">
                        <label for="exampleFormControlInput1">URL link</label>
                    <input for="exampleFormControlTextarea1" name="externalurl" placeholder= "Enter URL">
                    <!-- <textarea class="form-control" id="note-link" rows="2"></textarea> -->
                </div>
                <button type="submit" class="btn btn-primary">Create Note</button>
            </form>
            
        </main>

    </body>
</html>
