
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>CONTENTTTTT</h1>
    <button>save</button>
    
    <textarea class="TextArea__textArea TextArea__bold TextArea__light TextArea__enabled TextArea__large TextArea__wrap" id="pin-draft-title" placeholder="Add your title" rows="1" style="height: 43px;"></textarea>
    <h2><a href="/login?username=amy&password=amyspassword">LOGIN</a></h2>
    <h2><a href="/logout">LOGOUT</a></h2>
    <h2><a href="/content">CREATE A NOTE IF YOU ARE LOGINED</a></h2>

     
    <div class="container">
      <div class="row">
      <h4 class="text-uppercase font-weight-bold title">Pinterest Style Layout with Bootstrap 4</h4>
      </div>
      <div class="row">
      <div class="card-columns">
        <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9 col-xs-9">
              <h4 class="card-title">Company Name</h4>
            </div>
            <div class="col-sm-3 col-xs-3">
              <img class="img-fluid logo" src="http://placehold.it/50x50?text=LOGO">
            </div>
            <div class="col-sm-12">
              <small class="text-muted">
                <a href="#!"><strong>landscaping.com</strong></a>
              </small>
            </div>
          </div>
          <p class="card-text">Elementum augue. Sed penatibus dapibus dignissim! Turpis vut, ut placerat. Parturient! Enim elementum eros pulvinar sit egestas, cras vel odio est adipiscing turpis ridiculus adipiscing magna mattis? Vut integer elit! Nunc quis, augue nec turpis nisi penatibus sociis? Natoque sed.</p>
          <p class="card-text text-right"><small class="text-muted">
              <span class="social">
                <a href="#!">
                  <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                </a>
                <a href="#!">
                  <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                </a>
                <a href="#!">
                  <i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i>
                </a>
                <a href="#!">
                  <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
              </span>          
          </small></p>
        </div>
        </div>
        <div class="card card-pin">
        <img class="card-img" src="http://www.hgtv.com/content/dam/images/diy/video/0/01/016/0167/0167023.jpg" alt="Card image">
          <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>             
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>                
          </div>
        </div>   
        <div class="card card-pin">
        <img class="card-img" src="http://robsonlandscapingandturf.com/wp-content/themes/land3/images/sliders/slide3.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div>
        <div class="card card-pin">
        <img class="card-img" src="http://www.bloomerslandscaping.net/images/background/bg01.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div>
        <div class="card card-pin">
        <img class="card-img" src="https://i.pinimg.com/736x/dc/d2/e6/dcd2e600de02811e154a352d52cfc4c3--curb-appeal-landscaping-landscaping-design.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div>
        <div class="card card-pin">
        <img class="card-img" src="http://www.oclandscaping.net/wp-content/uploads/2012/10/4.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div>
        <div class="card card-pin">
        <img class="card-img" src="https://i.pinimg.com/originals/91/71/de/9171de0fb6f12af8b4390bf382d6bac9.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div>
        <div class="card card-pin">
        <img class="card-img" src="https://i.pinimg.com/736x/75/56/46/755646747ebf14adf7cfe2eec5872317.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div>
        <div class="card card-pin">
        <img class="card-img" src="https://i.pinimg.com/736x/92/44/5c/92445c0db00fb588f7317b9c0669ef79--ideas-for-landscaping-backyards-backyard-landscape-designs.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div>
        <div class="card card-pin">
        <img class="card-img" src="http://jimesperlandscaping.com/wp-content/uploads/2013/05/image9.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div>      
        <div class="card card-pin">
        <img class="card-img" src="https://i.pinimg.com/736x/7e/31/62/7e3162429d03990608bb5cc743e649e4--ranch-house-landscaping-landscaping-ideas-for-backyard.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div> 
        <div class="card card-pin">
        <img class="card-img" src="https://i.pinimg.com/originals/71/7a/e8/717ae8bf9f3ebbb7be435aaffd2ecd0f.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div> 
        <div class="card card-pin">
        <img class="card-img" src="http://www.cabbylandscaping.com/images/background/bg05.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div> 
        <div class="card card-pin">
        <img class="card-img" src="https://i.pinimg.com/736x/1e/60/aa/1e60aa04beed942d94604c71302a5065.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div> 
        <div class="card card-pin">
        <img class="card-img" src="https://i.pinimg.com/736x/5c/cd/84/5ccd8495371943f1f6a1f31fc85be23e--landscaping-around-trees-backyard-landscaping-ideas-large.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div> 
        <div class="card card-pin">
        <img class="card-img" src="http://spectrumlandscapingmn.com/wp-content/uploads/2012/10/spectrum-landscaping2.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div>
        <div class="card card-pin">
        <img class="card-img" src="https://i.pinimg.com/736x/54/57/0d/54570de843cad68b85a81865d35d119b--cheap-landscaping-ideas-backyard-ideas.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/320/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div>
        <div class="card card-pin">
        <img class="card-img" src="http://www.branumlandscaping.net/images/indexmain.jpg" alt="Card image">
        <div class="overlay">
          <h3 class="card-title title">Some Title</h3>
          <div class="download">
            <a href="http://lorempixel.com/486/322/" download>
            <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </div>
          <div class="more">
            <a href="#!">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
            </a>
          </div>
          </div>
        </div>
      </div>    
      </div>
    </div>
  </body>
</html>


      
    
