<form method="POST" action="/login">
    <h1>LOGIN PAGE</h1>
    <h2>Please Register Below or Go to Login if you have an account</h2>
        <h4><a href="#">Login Here</a></h4><br>
        
        <label>Email</label><br>
            <input type="email" placeholder="email@example.com" name="email"><br>
        <label>password</label><br>
            <input type="password" placeholder="enter password" name="password"><br>
        <button type='submit'>submit</button>
    
    </form>