
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <head>
        <title>Note</title>

    </head>

    <body>
        
        <nav>
            <div class="wholeNav">
                <ul>
                    <li>
                    <a href="/"><img src="http://www.anasfim.com/p/2018/03/cartoon-notebook-paper-notebook-clipart-lined-paper-pencil-and-in-for-notebook-paper-template-600x600.jpg" height="20"></a>
                    </li>
                    <li><a href="/login?username=amy&password=amyspassword">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Favorites</a></li>
                    <li><a href="#">Account Settings</a></li>
                    <li><a href="/content">Create Note</a></li>
                    <li>
                    <a href="#"><img src="https://www.iconsdb.com/icons/preview/white/search-3-xxl.png" height="20"></a>
                    </li>
                    
                </ul>
            </div>
        </nav>
        
        
        
        <main>

            <section class='note-container'>
                <h2 >Single Note</h2>
                <h3 id='note-title'> Title of note: My fav sports car</h3>
                <h4 id='category-name'> Category name: Cars </h3>
                <img src='<% data.img_url %>' height=60% width=40% >
                <span id='user-name'> User name: John Doe</span>
                <div>
                    <span id='note-counnter'> counter: 38 pts</span>
                    <button type="button" id='bookmark-btn'>Bookmark</button>
                </div>  

            </section>

            <section class='comment-container'>
                <form class='new-comment' method="POST" action="/notes/:note_id/comment"> 
                    <h2> Comments</h2>
                    <div class="form-group">
                        <input type="text" name="comment-text" class="form-control" id="comment-text" placeholder="Add a comment...">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                
                <article class='posted-comments'> 
                    <header class='Pcomment_user_name'> 
                        <h3> Commenter Name </h3>
                    </header>
                    
                    <section class='Pcomment_text'>
                        <p> Some text: This is cool post</p>
                    </section>

                    <footer class='Pcomment_date'>
                        <p> posted XX days ago</p> 
                    </footer>
                </article>


            </section>
            
        </main>

    </body>
</html>