<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>CONTENTTTTT</h1>
    <button>save</button>
    
    <textarea class="TextArea__textArea TextArea__bold TextArea__light TextArea__enabled TextArea__large TextArea__wrap" id="pin-draft-title" placeholder="Add your title" rows="1" style="height: 43px;"></textarea>
    <h2><a href="/login?username=amy&password=amyspassword">LOGIN</a></h2>
    <h2><a href="/logout">LOGOUT</a></h2>
    <h2><a href="/content">CREATE A NOTE IF YOU ARE LOGINED</a></h2>
  </body>
</html>
