body {
  margin: 0;
}

nav {
  height: 44px;
  overflow: scroll;
  background: #323232;
}

nav ul {
  display: flex;
  height: 44px;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

nav a {
  display: block;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #B8B8B8;
}

.appleNav {
  max-width: 980px;
  margin: 0 auto;
}

.container {
  width: 98%;
}

.logo {
  border-radius: 50%;
}

.text-muted a {
  color: #989898;
}

.text-muted a:hover {
  color: grey;
}

.fa a:active, a:hover, a:visited {
  text-decoration: none;
}

/* Tool Colors */
.general {
  background-color: #0095af;
}

.general .card-title {
  color: #f3f3f3;
}

.general .card-text {
  color: #f3f3f3;
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #008CBA;
}

.card-pin:hover .overlay {
  opacity: .5;
  border: 5px solid #f3f3f3;
  transition: ease .5s;
  background-color: #000000;
  cursor: zoom-in;
}

.more {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
}

.download {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  text-transform: uppercase;
  transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
}

.card-pin:hover .card-title {
  color: #ffffff;
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
}

.card-pin:hover .more a {
  text-decoration: none;
  color: #ffffff;
}

.card-pin:hover .download a {
  text-decoration: none;
  color: #ffffff;
}

.social {
  position: relative;
  transform: translateY(-50%);
}

.social .fa {
  margin: 0 3px;
}

.new-note-container {
  padding: 20px;
}

.post-box {
  border: 2px solid orange;
  border-radius: 10px;
  margin: 2em;
  padding: 1em;
}

.post-img {
  height: 40%;
  width: 40%;
  border: 2px solid red;
  margin: 2em;
  padding: 1em;
}

