.container {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}

.item {
    align-self: center;
}



.single-note {
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
}

.note-header {
    background-color: rgb(187, 187, 187)
    padding: 5px;
}

.note-img-wrapper {
    display: flex;  
    justify-content: center;
    align-items: center;
}

.note-creator {
    padding: 5px;
    align-content: center;
}

.note-footer {
    display: flex;
    align-items: center;
    padding: 5px;
}


.note-footer .bookmark {
    margin-left: auto;
}