.container {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}

.item {
    align-self: center;
}


/* styling for single note */
.single-note {
    border: 2px solid black;
    padding: 3px;
    border-radius: 5px;
}

#login {
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
}

.note-header {
    background-color: rgb(187, 187, 187);
    padding: 5px;
    border-bottom: 2px solid black;
}

.note-img-wrapper {
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.note-creator {
    padding: 5px;
    align-content: center;
    border-top: 2px solid black;
}

.note-footer {
    display: flex;
    align-items: center;
    padding: 5px;
}

.note-footer .bookmark {
    margin-left: auto;
}

/* styling for creating new comments */

article.new-comment {
    margin: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background: #eee;
    border-radius: 15px;
    border: 2px solid black ;
    width: 500px;
    max-width: 50%;
}
  
.new-comment h2 {
border-bottom: 3px solid black;
}

.new-comment textarea {
width: 100%;
padding: 0.5em;
}

/* styling for posted comments */
.posted-comment {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
    margin-bottom: 20px;
    width: 500px;
    max-width: 50%;
}

.Pcomment-header {
    display: flex;
    border-bottom: 2px solid black;
    padding: 10px;
    align-items: center;
    background: rgb(153, 210, 224);
}

.Pcomment-name {
    margin-left: 10px;
}

.Pcomment-body {
display: flex;
padding: 10px;
background-color: white;
}

.Pcomment-footer {
display: flex;
border-top: 2px solid black;
padding: 10px;
height: 40px;
}



